<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Задачи</title>
</head>
<body>
<h2>ЗАДАЧИ</h2>
<table>
  <thead>
  <tr>
    <th>№</th>
    <th>Наименование</th>
    <th>Условие</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="task:${tasks}">
    <td th:text="${task.idTask}"></td>
    <td th:text="${task.title}"></td>
    <td th:text="${task.description}"></td>
    <td th:text="${task.difficulty}"></td>
    <td><button type="submit" class="btn btn-primary col-2">To Solve</button></td>
  </tr>
  </tbody>
</table>
</body>
</html>